.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #6B959E;
    border-top: 20px solid #939F99;
    animation: spinAnimation 1s ease-in-out 0s infinite normal;
}
@keyframes spinAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 